@model repositories.Models.t_User

@{
    ViewData["Title"] = "Login and Register";
}

<style>
    .k-form-buttons {
        margin-bottom: 10px;
    }

    #registra {
        background: none !important;
        border: none;
        padding: 0 !important;
        /optional/
        font-family: arial, sans-serif;
        /input has OS specific font-family/
        color: #069;
        text-decoration: underline;
        cursor: pointer;
    }

    #Windowcontainer {
        height: 400px;
        width: 600px;
        position: relative;
        border: 1px solid rgba(20, 53, 80, 0.14);
    }
</style>

<div class="mb-2 mt-3">
    <div id="message"></div>
</div>
<div class="container mb-3 border border-3 w-50">
    <div class="mb-3">
        <h2 class="text-center">LOGIN</h2>
    </div>
    <div class="mb-3">
        <form id="loginform" method="post"></form>
    </div>
    <div class="mb-3">
        <button type="button" id="register">Register new user</button>
    </div>
    <div id="window">
        <form id="registerform" method="post" enctype="multipart/form-data"></form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.default.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.all.min.js"></script>
    <script>
        $(document).ready(function (e) {
            $(".k-clear").attr("disabled", true);
            var myWindow = $("#window"),
                undo = $("#register");

            undo.click(function () {
                myWindow.data("kendoWindow").open();
                undo.fadeOut();
            });

            function onClose() {
                undo.fadeIn();
            }
            myWindow.kendoWindow({
                width: "600px",
                height: "550px",
                title: "Registration Form",
                visible: false,
                actions: ["Close"],
                close: onClose
            }).data("kendoWindow").center().close();

            $("#loginform").kendoForm({
                validatable: {
                    validateOnBlur: true,
                    errorTemplate: "<span class='k-form-error'>#:message#</span>"
                },
                orientation: "vertical",
                items: [{
                    type: "group",
                    items: [
                        {
                            field: "email",
                            label: "Email",
                            validation: { required: { message: "Email is required" }, email: { message: "Invalid Email Formate" } }

                        },
                        {
                            field: "password",
                            label: "Password",
                            editor: function (container, options) {
                                $('<input type="password" id="login-password" name="' + options.field + '""/>')
                                    .appendTo(container)
                                    .kendoTextBox();
                            },
                            validation: { required: { message: "Password is required" } }
                        },
                    ]
                }],
                submit: function (e) {
                    if ($("#loginform").data("kendoForm").validate()) {
                        e.preventDefault();
                        const formData = new FormData();
                        formData.append("email", $("#loginform[name='login-email']").val());
                        formData.append("password", $("#loginform[name='login-password']").val());
        @* formData.append("email", $("input[name='email']").val());
                        formData.append("password", $("input[name='password']").val()); *@
                            $.ajax({
                                url: 'http://localhost:5119/api/User/Login',
                                type: 'POST',
                                method: 'POST',
                                data: formData,
                                contentType: false,
                                processData: false,
                                success: function (response) {
                                    if (response.success) {
                                        var user = JSON.stringify(response.alldata);
                                        localStorage.setItem("user", user);
                                        localStorage.setItem("userToken", response.token);
                                        alert(response.message);
                                        $('#loginResponse').removeClass("alert alert-danger").addClass("alert alert-success").text(response.message).show();
                                            setTimeout(function () {
                                                $("#loginResponse").hide();
                                                window.location.href = "@Url.Action("Index", "Contact")"
                                            }, 2000)

                                    } else {
                                        alert(response.message);
                                        $('#loginResponse').removeClass("alert-success").addClass("alert alert-danger").text(response.message).show();
                                        setTimeout(function () {
                                            $("#loginResponse").hide();
                                        }, 3000)
                                    }
                                },
                                error: function (response) {
                                    $('#loginResponse').removeClass("alert-success").addClass("alert alert-danger").text(response);
                                    setTimeout(function () {
                                        $("#loginResponse").hide();
                                    }, 3000)
                                }
                            });
                    }
                },
                clear: function (ev) {
                    @* validationSuccess.html(""); *@
                }
            });
            $("#registerform").kendoForm({
                validatable: {
                    validateOnBlur: true,
                    errorTemplates: "<span class='k-form-error'>#:message#</span>"
                },
                orientation: "vertical",
                layout: "grid",
                grid: {
                    cols: 2,
                    gutter: 20
                },
                items: [{
                    type: "group",
                    layout: "grid",
                    grid: { cols: 1, gutter: 10 },
                    items: [
                        {
                            field: "userName",
                            label: "User Name",
                            validation: { required: { message: "User Name is required" } }
                        },
                        {
                            field: "address",
                            label: "Address"
                        },
                        {
                            field: "gender",
                            editor: "RadioGroup",
                            label: "Gender",
                            editorOptions: {
                                items: ["Male", "Female"],
                                layout: "horizontal",
                                labelPosition: "before"
                            },
                            validation: { required: { message: "Gender is required" } }
                        },
                        {
                            field: "password",
                            label: "Password",
                            editor: function (container, options) {
                                $('<input type="password" id="password" name="' + options.field + '" required="required"/>')
                                    .appendTo(container)
                                    .kendoTextBox();
                            },
                            validation: { required: { message: "Password is required" } }
                        },
                    ]
                },
                {
                    type: "group",
                    layout: "grid",
                    grid: { cols: 1, gutter: 10 },
                    items: [
                        {
                            field: "email",
                            label: "Email",
                            @* validation: { required: { message: "Email is required" } } *@
                        },
                        {
                            field: "mobile",
                            label: "Mobile",
                            validation: {
                                required: { message: "Mobile number is required" },
                                pattern: {
                                    value: "^[0-9]{10}$",
                                    message: "Invalid mobile number"
                                }
                            }
                        },
                        {
                            field: "imageFile",
                            label: "Image",
                            editor: function (container, options) {
                                $('<input type="file" id="imageFile" name="' + options.field + '"class="form-control" required="required"/>')
                                    .appendTo(container)
                                    .kendoTextBox();
                            },
                            validation: { required: { message: "Image is required" } },
                        },
                        {
                            field: "confirmPassword",
                            label: "Confirm Password",
                            editor: function (container, options) {
                                $('<input type="password" id="confirmPassword" name="' + options.field + '" required="required"/>')
                                    .appendTo(container)
                                    .kendoTextBox();
                            },
                            validation: {
                                required: { message: "Confirm Password is required" }
                            }
                        },
                    ]
                }],
                validateField: function (e) {
                    errorTemplates: "<span class='k-form-error'></span>"
                },
                submit: function (e) {
                    if ($("#registerform").data("kendoForm").validate()) {
                        e.preventDefault();
                        const formData = new FormData();
                        formData.append("userName", $("registerform[name='userName']").val());
                        formData.append("email", $("registerform[name='email']").val());
                        formData.append("address", $("registerform[name='address']").val());
                        var gender = $("input[name='gender']:checked").val();
                        formData.append("gender", gender);
                        formData.append("mobile", $("registerform[name='mobile']").val());
                        var fileInput = $("#registerform[name='imageFile']")[0];
                        var file = fileInput.files[0];
                        formData.append("imageFile", file);
                        formData.append("password", $("registerform[name='password']").val());
                        formData.append("confirmPassword", $("registerform[name='confirmPassword']").val());
                        $.ajax({
                            url: 'http://localhost:5119/api/User/Register', // API endpoint
                            type: 'POST',
                            method: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response.success) {
                                    $("#responseMessage").removeClass("alert alert-success").addClass("alert alert-danger").text(response.message).show();
                                    setTimeout(function () {
                                        $("#responseMessage").hide();
                                    }, 2000)
                                }
                                else {
                                    $("#responseMessage").removeClass("alert alert-success").addClass("alert alert-danger").text(response.message).show();
                                    setTimeout(function () {
                                        $("#responseMessage").hide();
                                    }, 3000)
                                }
                            },
                            error: function (response) {
                                $("#responseMessage").removeClass("alert alert-success").addClass("alert alert-danger").text(response.message);
                                setTimeout(function () {
                                    $("#responseMessage").hide();
                                }, 3000)
                            }
                        });
                    }
                },
                clear: function (e) {

                }
            });
        });

    </script>
}